<body id="page-top">

  <!-- <div id="preloader">
      <div class="canvas">
          <img src="assets/img/swiftly/fsd.png" alt="logo" class="loader-logo">
          <div class="spinner"></div>
      </div>
  </div> -->

  <div class="page db-social">
      <header class="header">
          <nav class="navbar fixed-top">            
              <div class="navbar-holder d-flex align-items-center align-middle justify-content-between">

                  <div class="navbar-header">
                      <a href="db-default.html" class="navbar-brand">
                          <div class="brand-image brand-big">
                              <img src="assets/img/swiftly/fsd.png" alt="logo" class="logo-big">
                          </div>
                          <div class="brand-image brand-small">
                              <img src="assets/img/swiftly/fsd.png" alt="logo" class="logo-small">
                          </div>
                      </a>

                      <a id="toggle-btn" href="#" class="menu-btn active">
                          <span></span>
                          <span></span>
                          <span></span>
                      </a>
                  </div>            
              </div>
          </nav>
      </header>
      <div class="page-content d-flex align-items-stretch">
          <!-- <div class="compact-sidebar light-sidebar has-shadow"> -->
          <div class="compact-sidebar green-sidebar has-shadow">
              <nav class="side-navbar">
                  <div class="brand-image brand-big">
                      <img src="assets/img/swiftly/origami.svg" alt="logo" class="logo-big" style="width: 50px; position: absolute; top: 15px; left: 20px;">
                  </div>
                  <ul class="list-unstyled">
                      
                          <a  [routerLink] ="['/dashboard']">
                              <!-- <i class="ti ti-receipt"></i><span>Newsfeed</span> -->
                              <img src="./assets/icons/swiftly/bar-chart.svg" /><span>Dashboard</span>

                          </a>
                      
                      <li>
                        
                          <a href="#">
                              <img src="./assets/icons/swiftly/transaction.svg" /><span>Transactions</span>
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <img src="./assets/icons/swiftly/cube.svg" /><span>Deposits</span>
                          </a>
                      </li>
                      <li>
                          <a  [routerLink] ="['/transfer']">
                              <img src="./assets/icons/swiftly/gift.svg" /><span>Transfer</span>
                          </a>
                      </li>
                      <li class="active">
                          
                          <a  [routerLink] ="['/settings']">
                              <img src="./assets/icons/swiftly/cog.svg" /><span>Settings</span>
                          </a>
                          
                      </li>
                      <li>
                          <a href="javascript:void(0);">
                              <img src="./assets/icons/swiftly/help.svg" /><span>Support</span>
                          </a>
                      </li>
                      <li style="margin-top: 25px;">
                          <a href="pages-albums.html">
                              <img src="./assets/icons/swiftly/notification-stroke.svg" /><span>Notifications</span>
                          </a>
                      </li>
                      <li>
                          <a href="pages-videos.html">
                              <img src="assets/img/avatar/avatar-01.jpg" alt="profile-image" class="rounded-circle" style="width: 55px">
                          </a>
                      </li>
                  </ul>
              </nav>
          </div>
      </div>
      <div class="content-inner compact">
          <div class="container-fluid">
              <div class="row">
                  <div class="page-header">
                      <div class="d-flex align-items-center">
                          <h2 class="page-header-title">Account Settings</h2>
                      </div>
                  </div>
                  <div class="swift-page-content" style="width: 100%;">
                      <div class="container">
                          <div class="row" >
                              <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                                  <div class="widget has-shadow swift-card">
                                      <div class="widget-body">
                                          <div class="swift-card-header">
                                              <h3 class="swift-card-title">Preferences</h3>
                                              <p class="swift-card-subtitle">
                                                  Here, you can set your security question and update your password
                                              </p>
                                          </div>

                                          <div class="card-body">
                                              <!-- <div class="container container-fluid"> -->
                                                  <div class="row">
                                                      <div class="col-12">
                                                          <div class="form-group row">
                                                              <div class="col-sm-12">
                                                                  <div class="row row-little-gutter">
                                                                      <div class="col-lg-4">
                                                                          <label for="">Secret Pin</label>
                                                                          <input type="text" placeholder="" class="form-control swift-input" maxlength="4">
                                                                      </div>
                                                                      <div class="col-lg-4">
                                                                          <label for="">New Secret Pin</label>
                                                                          <input type="text" placeholder="" class="form-control swift-input" maxlength="4">
                                                                      </div>
                                                                      <div class="col-lg-4">
                                                                          <button type="button" class="btn btn-outline-info mr-1 mb-2 btn-clear" style="margin-top: 30px">Update Pin</button>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                      <div class="col-12">
                                                          <div class="form-group row">
                                                              <div class="col-sm-12">
                                                                  <div class="row row-little-gutter mt-30">
                                                                      <div class="col-lg-3">
                                                                          <label for="">Current Password</label>
                                                                          <input type="password" placeholder="" class="form-control swift-input">
                                                                      </div>
                                                                      <div class="col-lg-3">
                                                                          <label for="">New Password</label>
                                                                          <input type="password" placeholder="" class="form-control swift-input">
                                                                      </div>
                                                                      <div class="col-lg-3">
                                                                          <label for="">Confirm Password</label>
                                                                          <input type="password" placeholder="" class="form-control swift-input">
                                                                      </div>
                                                                      <div class="col-lg-3">
                                                                          <button type="button" class="btn btn-outline-info mt-10 mr-1 mb-2 btn-gradient btn-changepass">Change</button>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              <!-- </div> -->
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                                  <div class="widget has-shadow padding-20 swift-card">
                                      <div class="widget-body">
                                          <img src="./assets/icons/swiftly/2fa.svg" class="center" width="220px" style="margin: -50px auto 0px auto; display: absolute" alt="">
                                          <p class="text-center" style="font-size: 13px; margin-top: -10px; margin-bottom: 20px;">
                                              Add extra security to your swift-wallet: each time you login, a token would be sent to your webmail and required for a secure access to your wallet and funds.
                                          </p>
                                          <div>
                                              <button type="button" class="btn btn-outline-info green-button">
                                                  Get Started
                                                  <span id="button-icon">
                                                          <i class="la la-arrow-right" style="font-weight: bold; font-size: 15px;"></i>
                                                  </span>
                                              </button>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="row" >
                              <div class="col-12 col-md-7 col-lg-7 col-xl-7">
                                  <div class="widget has-shadow swift-card">
                                      <div class="widget-body">
                                          <div class="swift-card-header">
                                              <h3 class="swift-card-title">Notification Settings</h3>
                                              <p class="swift-card-subtitle">
                                                  Manage settings of how notifcations about your account are delivered to you
                                              </p>
                                          </div>
                                          <div class="card-body no-padding">
                                              <!-- <div class="container"> -->
                                                  <div class="table-responsive">
                                                      <table class="table table-bordered swiftly-bordered">
                                                          <thead>
                                                              <tr>
                                                                  <th>Notification Type</th>
                                                                  <th>Dashboard</th>
                                                                  <th>Email Notification</th>
                                                              </tr>
                                                          </thead>
                                                          <tbody>
                                                              <tr>
                                                                  <td><span class="text-gray">Maintenance alerts</span></td>
                                                                  <td>
                                                                      <input type="checkbox" id="dashboard-maintenance" class="swift-toggle" checked/><label class="swift-toggle-label" for="dashboard-maintenance">Toggle</label>
                                                                  </td>
                                                                  <td>
                                                                      <input type="checkbox" id="email-maintenance" class="swift-toggle" /><label class="swift-toggle-label" for="email-maintenance">Toggle</label>
                                                                  </td>
                                                              </tr>
                                                              <tr>
                                                                  <td><span class="text-gray">Location logging</span></td>
                                                                  <td>
                                                                      <input type="checkbox" id="dashboard-location" class="swift-toggle" checked/><label class="swift-toggle-label" for="dashboard-location">Toggle</label>
                                                                  </td>
                                                                  <td>
                                                                      <input type="checkbox" id="email-location" class="swift-toggle" checked/><label class="swift-toggle-label" for="email-location">Toggle</label>
                                                                  </td>
                                                              </tr>
                                                              <tr>
                                                                  <td><span class="text-gray">Deposits notification</span></td>
                                                                  <td>
                                                                      <input type="checkbox" id="dashboard-deposits" class="swift-toggle" checked/><label class="swift-toggle-label" for="dashboard-deposits">Toggle</label>
                                                                  </td>
                                                                  <td>
                                                                      <input type="checkbox" id="email-deposits" class="swift-toggle" /><label class="swift-toggle-label" for="email-deposits">Toggle</label>
                                                                  </td>
                                                              </tr>
                                                          </tbody>
                                                      </table>
                                                  </div>
                                              <!-- </div> -->
                                          </div>
                                          <p style="font-size: 12px; font-family: poppins; color: #c9c9c9; font-weight: 400; margin-top: 25px;">
                                              In addition to these notifications, we may also send you alerts about special offers or other information
                                          </p>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-12 col-md-5 col-lg-5 col-xl-5">
                                  <div class="widget has-shadow swift-card widget-11" style="max-height: 515px;">
                                      <div class="widget-body">
                                          <div class="swift-card-header">
                                              <h3 class="swift-card-title">Login History</h3>
                                              <p class="swift-card-subtitle">
                                                  Overview of your recent login history
                                              </p>
                                          </div>
                                          <div>
                                              <!-- Widget INner -->                                                    
                                              <div class="widget-body no-padding  widget-scroll" style="max-height:375px;">
                                          
                                                  <div class="timeline violet">
                                                      <div class="timeline-content d-flex align-items-center">
                                                          <div class="d-flex flex-column mr-auto">
                                                              <div class="title">
                                                                  <span class="font-weight-bold text-muted">Multipurpose Hall &lt; iPad mini 3 &gt;</span>
                                                              </div>
                                                              <div class="time">4 min ago</div>
                                                          </div>
                                                      </div>
                                                  </div>
                                          
                                                  <div class="timeline red">
                                                      <div class="timeline-content d-flex align-items-center">
                                                          <div class="d-flex flex-column mr-auto">
                                                              <div class="title">
                                                                  <span class="text-muted font-weight-bold">Cafeteria 1 &lt; MacBook Pro &gt;</span>
                                                              </div>
                                                              <div class="time">10 min ago</div>
                                                          </div>
                                                      </div>
                                                  </div>

                                                  <div class="timeline blue">
                                                      <div class="timeline-content d-flex align-items-center">
                                                          <div class="d-flex flex-column mr-auto">
                                                              <div class="title">
                                                                      <span class="text-muted font-weight-bold">Isaac Hall &lt; iPod Touch &gt;</span>
                                                              </div>
                                                              <div class="time">11 hours ago</div>
                                                          </div>
                                                      </div>
                                                  </div>
                                          
                                                  <div class="timeline violet">
                                                      <div class="timeline-content d-flex align-items-center">
                                                          <div class="d-flex flex-column mr-auto">
                                                              <div class="title">
                                                                      <span class="text-muted font-weight-bold">CSIS Lab 1 (Old College Building)</span>
                                                              </div>
                                                              <div class="time">5d ago</div>
                                                          </div>
                                                      </div>
                                                  </div>
                                          
                                                  <div class="timeline violet">
                                                      <div class="timeline-content d-flex align-items-center">
                                                          <div class="d-flex flex-column mr-auto">
                                                              <div class="title">
                                                                      <span class="text-muted font-weight-bold">Dorcas Hall &lt; Windows 10 Laptop &gt;</span>
                                                              </div>
                                                              <div class="time">2w ago</div>
                                                          </div>
                                                      </div>
                                                  </div>
                                          
                                                  <div class="timeline blue">
                                                      <div class="timeline-content d-flex align-items-center">
                                                          <div class="d-flex flex-column mr-auto">
                                                              <div class="title">
                                                                      <span class="text-muted font-weight-bold">Dorcas Hall &lt; Windows 10 Laptop &gt;</span>
                                                              </div>
                                                              <div class="time">1y ago</div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <!-- End Widget INner -->
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <script src="assets/vendors/js/base/jquery.min.js" type="2d75f506ccd1bd22dff98281-text/javascript"></script>
  <script src="assets/vendors/js/base/core.min.js" type="2d75f506ccd1bd22dff98281-text/javascript"></script>

  <script src="assets/vendors/js/nicescroll/nicescroll.min.js" type="2d75f506ccd1bd22dff98281-text/javascript"></script>
  <script src="assets/vendors/js/app/app.min.js" type="2d75f506ccd1bd22dff98281-text/javascript"></script>

  <script src="./assets/js/common/rocket-loader.min.js" data-cf-nonce="2d75f506ccd1bd22dff98281-" defer=""></script>
</body>
