/* Margin-Padding Helper class */
.p-0 {
    padding: 0px;
}

.p-3 {
    padding: 3px;
}

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.p-25 {
    padding: 25px;
}

.p-30 {
    padding: 30px;
}

.p-35 {
    padding: 35px;
}

.p-40 {
    padding: 40px;
}

.p-45 {
    padding: 45px;
}

.p-50 {
    padding: 50px;
}

.pt-0 {
    padding-top: 0px;
}

.pt-3 {
    padding-top: 3px;
}

.pt-5 {
    padding-top: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-35 { 
    padding-top: 35px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-45 {
    padding-top: 45px;
}

.pt-50 {
    padding-top: 50px;
}

.pr-0 {
    padding-right: 0px;
}

.pr-3 {
    padding-right: 3px;
}

.pr-5 {
    padding-right: 5px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-15 {
    padding-right: 15px;
}

.pr-20 {
    padding-right: 20px;
}

.pr-25 {
    padding-right: 25px;
}

.pr-30 {
    padding-right: 30px;
}

.pr-35 {
    padding-right: 35px;
}

.pr-40 {
    padding-right: 40px;
}

.pr-45 {
    padding-right: 45px;
}

.pr-50 {
    padding-right: 50px;
}

.pb-0 {
    padding-bottom: 0px;
}

.pb-3 {
    padding-bottom: 3px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-35 {
    padding-bottom: 35px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-45 {
    padding-bottom: 45px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pl-0 {
    padding-left: 0px;
}

.pl-3 {
    padding-left: 3px;
}

.pl-5 {
    padding-left: 5px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-15 {
    padding-left: 15px;
}

.pl-20 {
    padding-left: 20px;
}

.pl-25 {
    padding-left: 25px;
}

.pl-30 {
    padding-left: 30px;
}

.pl-35 {
    padding-left: 35px;
}

.pl-40 {
    padding-left: 40px;
}

.pl-45 {
    padding-left: 45px;
}

.pl-50 {
    padding-left: 50px;
}

.m-0 {
    margin: 0px;
}

.m-3 {
    margin: 3px;
}

.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}

.m-15 {
    margin: 15px;
}

.m-20 {
    margin: 20px;
}

.m-25 {
    margin: 25px;
}

.m-30 {
    margin: 30px;
}

.m-35 {
    margin: 35px;
}

.m-40 {
    margin: 40px;
}

.m-45 {
    margin: 45px;
}

.m-50 {
    margin: 50px;
}

.mt-0 {
    margin-top: 0px;
}

.mt-3 {
    margin-top: 3px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-45 {
    margin-top: 45px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-55{
    margin-top: 55px;
}

.mt-60{
    margin-top: 60px;
}

.mr-0 {
    margin-right: 0px;
}

.mr-3 {
    margin-right: 3px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-25 {
    margin-right: 25px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-35 {
    margin-right: 35px;
}

.mr-40 {
    margin-right: 40px;
}

.mr-45 {
    margin-right: 45px;
}

.mr-50 {
    margin-right: 50px;
}

.mb-0 {
    margin-bottom: 0px;
}

.mb-3 {
    margin-bottom: 3px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mb-50 {
    margin-bottom: 50px;
}

.ml-0 {
    margin-left: 0px;
}

.ml-3 {
    margin-left: 3px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-25 {
    margin-left: 25px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-35 {
    margin-left: 35px;
}

.ml-40 {
    margin-left: 40px;
}

.ml-45 {
    margin-left: 45px;
}

.ml-50 {
    margin-left: 50px;
}
.fl-right{
    float: right;
}
.fl-left{
    float: left;
}

body {
    background: #F8FCFF;
}

.green-sidebar.compact-sidebar {
    background: #64BEC1;
}

.blue-sidebar.compact-sidebar {
    background: #64BEC1;
}

.compact-sidebar>.side-navbar ul li.active img,
.compact-sidebar>.side-navbar li ul li a.active {
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
    padding: 10%;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    text-align: center;
}

.compact-sidebar>.side-navbar ul li.active img {
    line-height: inherit;
}

.compact-sidebar>.side-navbar ul li img,
.compact-sidebar>.side-navbar li ul li a {
    padding: 10%;
}

.compact-sidebar>.side-navbar ul li img {
    height: 60%;
    width: 60%;
}

.compact-sidebar>.side-navbar ul li span {
    color: #fff;
}

.compact-sidebar>.side-navbar ul li.active a:hover span {
    bottom: -10px;
}

.compact-sidebar>.side-navbar a {
    padding: 10px !important;
}

.loader-logo {
    height: 50px;
    width: 50px;
}

.navbar-header .logo-big {
    width: 55px;
    padding: 15px;
}

.navbar-header .logo-small {
    width: 55px;
    padding: 10px;
}

.page {
    background: none;
}

.page-header-title {
    font-size: 30px !important;
    margin-left: 40px;
    margin-top: 24px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold !important;
    color: #C1C2C5 !important;
}

.swift-content {
    margin-left: 150px !important;
}

.dash-h3 > h3 {
    font-size: 20px;
    font-weight: bold;
    color: #898db1;
    text-align: center;
    margin-top: 15px;
}

.dash-title {
    font-size: 14px;
    color: black !important;
    font-weight: bold;
    margin-bottom: 10px;
}

.dash-3-button {
    background: #64C180;
    margin: 0 auto;
    width: 157px;
    height: 34px;
    top: 10px;
    right: 50px;
    left: 55px;
}

.dash-3-h2 {
    text-align: center;
    padding-top: 20px;
    color: #509cff !important;
}

.dash-tr {
    border: 10px;
}

.swift-card {
    border-radius: 5px;
    background: #fff;
    padding: 20px;
    box-shadow: 0px 15px 20px rgba(55, 72, 59, 0.03);
}
.price-card {
    border-radius: 5px;
    background: #fff;
    padding: 2px;
    box-shadow: 0px 15px 20px rgba(55, 72, 59, 0.03);
}


.btn-clear {
    background: transparent !important;
    border: none;
}

.btn-clear:hover {
    color: initial;
}

.btn-gradient {
    width: 60%;
    height: 80%;
    color: #fff;
    border-radius: 3px;
    border: none;
    background: linear-gradient(to right, #b0f0c1 0%, #509cff 100%);
}

.btn-changepass {
    margin-top: 28px;
    max-height: 40px;
}

.form-control.swift-input {
    border: 0.5px solid #E9E9E9;
    background: #F8F9FC;
    min-height: 40px;
}


.mt-30 {
    margin-top: 30px;
}
mt-35{
    margin-top: 35px;
}

.swift-card-title {
    font-family: Nunito;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    color: #4d4f53;
}

.swift-card-subtitle {
    font-family: Poppins;
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #c9c9c9;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    margin-bottom: 50px;
}

.padding-20 {
    padding: 18px;
}

.green-button {
    min-width: 180px;
    justify-content: center;
    min-height: 50px;
    padding: 5px;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 14px;
    display: block;
    margin: 0px auto;
    background: #90e1ae;
    box-shadow: 0px 8px 20px rgba(54, 54, 54, 0.11);
}

#button-icon {
    margin-left: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.15);
}

#button-icon > i {
    align-self: center;
    line-height: 30px;
}

.swiftly-bordered {
    max-width: 100%;
}

.swiftly-bordered>thead {
    background: none !important;
}

.swiftly-bordered td {
    border: none;
    border-top: .07rem solid #eee;
    border-bottom: .07rem solid #eee;
}

.swiftly-bordered td:first-of-type {
    border-left: .07rem solid #eee;
}

.swiftly-bordered td:last-of-type {
    border-right: .07rem solid #eee;
}

.no-padding {
    padding: 0;
}

.no-padding-sides {
    padding-left: 0px !important;
    padding-right: 0px !important;
}


/* Toggle Styles */

input.swift-toggle[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label.swift-toggle-label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: #C1C2C5;
    display: block;
    border-radius: 100px;
    position: relative;
}

label.swift-toggle-label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.4s;
}

input.swift-toggle:checked + label {
    background: #8FD2A3;
}

input.swift-toggle:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label.swift-toggle-label:active:after {
    width: 25px;
}

.swift-card.no-bg {
    background: none;
    box-shadow: unset;
}

.swiftly-bordered-alt > tbody > tr {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 5px 20px rgba(55, 72, 59, 0.03);
}

.swiftly-bordered-alt > tbody > tr > td,
.swiftly-bordered-alt > tbody > tr > td {
    border: none;
    margin-top: 5px;
    height: 70px;
}

.swiftly-bordered-alt > tbody > tr > td:first-of-type,
.swiftly-bordered-alt-gray > tbody > tr > td:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 20px;
}

.swiftly-bordered-alt > tbody > tr > td:last-of-,
.swiftly-bordered-alt-gray > tbody > tr > td:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

table.swiftly-bordered-alt,
table.swiftly-bordered-alt-gray {
    border-collapse: separate;
    border-spacing: 0px 15px;
}

.swiftly-bordered-alt thead,
.swiftly-bordered-alt-gray thead {
    background: none;
    max-height: 30px;
}

.swiftly-bordered-alt thead tr th,
.swiftly-bordered-alt-gray thead tr th {
    padding: 10px 12px;
    color: rgb(173, 181, 187);
    text-transform: uppercase;
    font-weight: 600;
    /* font-family: Poppins;
font-weight: medium; */
}

.swift-badge.success {
    background: #90e1ae;
}

.swift-badge.danger {
    background: #FF8484;
}

.swift-badge.warning {
    background: #FFDE84;
}

.swift-badge {
    width: 100px;
    line-height: 32px;
    height: 35px;
    border-radius: 4px;
}

.swift-card .widget-header {
    background: none;
    padding: none;
    font-family: 'Nunito', sans-serif;
}

.swift-table-button {
    height: 30px;
    width: 30px;
}

.swift-table-button:hover {
    border: none;
    box-shadow: 0px 5px 20px rgba(55, 72, 59, 0.15);
}

.dash-4-button {
    background: #fff;
    text-align: center;
    margin: 0 auto;
    width: 300px;
    height: 34px;
    top: 10px;
    right: 50px;
    left: 55px;
    border: none;
    /* box-shadow:  */
}

 /*radio style */
.dash-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 5px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 30px;
  transition: all 0.15s ease-out 0.1s;
  background: transparent;
  border: 3px solid #9ed0fe;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
  z-index: 1000;
  border-radius: 50%;
}
.dash-radio:hover {
  background: #9ed0fe;
}
.dash-radio:focus {
  background: #9ed0fe;
  border: none;
  transition: all 0.15s ease-out 0.1s;
}
.dash-radio:focus::before {
  height: 20px;
  width: 20px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 21px;
  text-align: center;
  line-height: 30px;
  margin: 0 4px;
}
.dash-radio:focus::after {
  -webkit-animation: click-wave 0.75s;
  -moz-animation: click-wave 0.75s;
  animation: click-wave 0.75s;
  background: #9ed0fe;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

.rad-icon{
    font-size: 25px;
    color:  #ff8484;
}

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;

  }
  100% {
    height: 140px;
    width: 140px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.dash-radio::before {
    border-radius: 50% !important;
  }
  .dash-radio::after {
    border-radius: 50% !important;
  }
/** Margins **/

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-50 {
    margin-top: 50px;
}

.wave-banner {
    /* background-image: url(../../img/swiftly/deposit-banner.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -55px;
    background-position-y: -55px; */
    /*background-size: 100vh;
    background-position: center center;
    background-repeat: no-repeat; */
    /* background-position-y: ; */
    background: #DFF1FE;
    height: 45vh;
}

.support-items {
    padding: 30px;
}

.support-items .row {
    margin: 0px auto;
    max-width: 80%;
}

/* .support-items .row .col-4 {} */

.support-card {
    transition: .15s ease-out;
    padding: 40px 45px;
}

.support-card:hover {
    background: #FFFFFF;
    color: #50ABFF;
    box-shadow: 0px 20px 70px rgba(36, 43, 57, .06);
    transition: .15s ease-in;
    border-radius: 3px;
    cursor: pointer;
}

.support-card-icon {
    width: 70px;
    margin: 0px auto;
}

.support-icon {
    height: 70px;
    width: 70px;
}

.support-text {
    margin-top: 30px;
}

.support-hero-content {
    max-width: 80%;
    margin: 0px auto;
}

.support-hero-content .support-hero-title {
    font-family: Nunito;
    color: #5E83A5;
    font-weight: bold;
    font-size: 40px;
}

.support-hero-content .support-hero-subtitle {
    font-family: Nunito;
    color: #5E83A5;
    font-weight: normal;
    font-size: 14px;
}

.support-hero-content .support-search {
    background: none;
}

.support-search .support-search-input,
.support-search .support-search-input:focus {
    background: #fff;
    border: none;
    padding: 20px 35px;
    border-radius: 6px;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: -100px;
    box-shadow: 0px 5px 19px rgba(36, 43, 57, .04);
}

.support-search .support-search-input::placeholder {
    color: #C1E4FF;
    font-size: 14px;
    font-family: Poppins;
}

.nav-tabs {
    border-bottom: 2px solid #eee !important;
}

.nav-tabs .nav-item {
    margin-right: 40px;
    font-family: Poppins;
}

.nav-tabs .nav-item a:not(.active) {
    color: #CCD4DB !important;
    font-weight: 500;
}

.nav-tabs .nav-item .nav-link {
    padding-left: 0px;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
}

.nav-tabs .nav-item:hover {
    border-bottom-color: #FF9E80 !important;
}

.nav-tabs .nav-item .active {
    color: #000;
    border-bottom: 2px solid #eee !important;
}

.nav-tabs .nav-item .active:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0px;
    height: 1px;
    width: 60%;
    border-radius: 25px;
    border-bottom: 2px solid #FF9E80;
    margin-top: 44px;
}

.swift-table-button-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 18px;
}

.swiftly-bordered-alt-gray > tbody > tr {
    background: #FAFAFA;
    font-family: Nunito;
    color: #CCD4DB;
    font-weight: bold !important;
}

.swiftly-bordered-alt-gray tr {
    text-align: center;
}

.purchase-transaction {
    color: #FF9E80;
}

.transaction-status {
    height: 35px;
    width: 35px;
    padding: .6em .6em;
    border-radius: 50%;
    color: #fff;
}

.transaction-status i {
    font-weight: 900;
}

.transaction-status.success {
    background: #A5EEB8 !important;
}

.transaction-status.pending {
    background: #FFE88D;
}

.transaction-status.failed {
    background: #FF9E80 !important;
}

.trans-details .desc {
    color: #000;
    font-weight: 600;
    /* font-size: 16px; */
}

.trans-details .tid {
    font-weight: 500;
}

.text-white {
    color: #fff !important;
}

.add-funds-card {
    color: #fff;
    background: #1CD8D2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93EDC7, #1CD8D2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93EDC7, #1CD8D2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.deposit-funds-card {
    width: 469.49px;
    height: 466.5px;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -215px;
}
.transfer-funds-card {
    width: 469.49px;
    height: 484.5px;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -215px;
}

.d-box {
    margin: 10px;
    height: 415px;
    width: 386.59px;
}

.d-d-box {
    margin: 40px;
    margin-top: -10px;
    height: 395px;
    width: 346.59px;
}

.small-box {
    width: 151px;
    height: 133.54px;
    margin: 0 auto;
}

.small-box > h4 {
    color: #63B4FF;
}

.d-btn-gradient {
    width: 101.84px;
    height: 30.63px;
    color: #fff;
    border-radius: 3px;
    border: none;
    background: linear-gradient(to right, #FF9E80 0%, #FFDE84 100%);
}

.d-btn-gradient:hover {
    background-color: #FF9E80;
}

.d-btn-gradient-2 {
    width: 90px;
    height:35px;
    color: #fff;
    border-radius: 3px;
    border: none;
    background: linear-gradient(to right, #a8e9c5 0%, #6bb4ed 100%);
    font-size: 1rem;
    text-align: center;
}
.d-btn-gradient-2:hover {
     background: linear-gradient(to right,#6bb4ed  0%,  #a8e9c5 100%); 
}
 
.trans-input{
     margin: 0 auto;  
     text-align: center;
     border:2px solid #e3e6e9;
     height:60px; 
     width: 31%;
}

.trans-input:focus{
    border:2px solid #e3e6e9;
}

#left-button {
    display: block;
    margin-left: 2px;
    margin-right: auto;
    width: 29.7px;
    height: 29.7px;
}

#left-btton:hover {
    background-color: #FF9E80;
}

.switch-box {
    margin: 10px;
    height: 30px;
    width: 160px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-bottom: 100px;
}

.switch-box-button {
    width: 80px;
    height: 30px;
    border: 3px solid#63B4FF;
    color: #63B4FF;
    background: #fff;
}

.fbutton {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 0px;
}

.sbutton {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: inline-block;
    position: absolute;
}

.active-b,
.switch-box-button:hover {
    background: #63B4FF;
    color: #fff;
}

.f-box {
    margin: 10px;
    /*height: 579.09px;
    width: 797px;*/
    /* border: 1px solid black; */
    margin-left: 40px;
}

.sl-text-box {
    height: 131px;
    width: 797px;
    /* border: 1px solid black; */
    padding-top: 10px;
    margin-top: 40px;
}
.sl-text-box2{
    height: 73px;
    width: 797px;
    /* border: 1px solid black; */
    margin-top: 24px; 
}

.tl-3-boxes {
    height: 182px;
    width: 541px;
    /* border: 1px solid black; */
    margin-top:10px;
}
.tl-3-boxes-inner{
    height: 182px;
    width: 57px;
    /* border: 1px solid black; */
    margin-right:0px; 
}
.tl-4-boxes-inner{
    height: 182px;
    width: 484px;
    /* border: 1px solid black; */
    margin-left:57px;
    margin-bottom: 250px;
    display: inline-block;
    position: absolute;
}

.deposit-intro h2{
    font-family: Nunito;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    color: #63b4ff;

}
.deposit-intro p{
    width: 797px;
    height: 73px;
    font-family: Nunito;
    font-size: 16px;
    /* letter-spacing: 0.02em; */
    text-align: left;
    color: #c6c6c6;
}
.deposit-option-number{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #64B8BB;
    text-align: center;
    line-height: 30px;
    font-size: 1.2em;
    color: #fff;
    font-family: Nunito;
}
.deposit-options{
    margin-top: 30px;
}
.deposit-option-pane h4{
    color: rgba(99, 180, 255, 0.7);
    font-size: 1.7em;
    /* opacity: 0.9; */
    font-weight: bold;
}
.content-inner.compact .container-fluid:first-child{
    padding-top: 10px;
    padding-left: 15px;
}

.swift-input-box{
    background: white;
    border: none;
    padding: 15px 24px;
    height: 40px;
}
.swift-input-box::placeholder{
    font-family: Nunito;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #e2e2e2;
    
}
.swift-input-box:focus{
    border: 1px solid rgba(99, 180, 255, 0.7)
}
.swift-input-box.w-shadow{
    border-radius: 5px;
    background: #fff;
    box-shadow: -2px 1px 50px rgba(36, 43, 57, 0.04);

}

.btn-amount {
    width: 67.24px;
    height: 27.6px;
    color: #fff;
    border-radius: 3px;
    border: none;
    background: #95C7F8;
    text-align: center;
}

.right-slidebar{
    box-shadow: -5px 0px 30px rgba(0, 0, 0, 0.03);
    background: #fff;
    padding: 25px;
    height: 100vh;
    max-height: 100vh;
    width: 60vh;
    position: fixed;
    right: -60vh;
    top: 0px;
    z-index: 999;
    overflow-y: auto;
}

.right-slidebar::-webkit-scrollbar {
    width: 4px !important;
}

 
.right-slidebar::-webkit-scrollbar-thumb {
  background-color: rgb(228, 228, 228) !important;
  border-radius: 25px;
}

.right-slidebar .slidebar-header{
    padding: 5px 10px;
}

.right-slidebar .slidebar-header #close-slidebar{
    background: none;
    border: none;
}
.right-slidebar .slidebar-header #close-slidebar i{
    font-size: 18px;
    font-weight: bold;
    color: #83B5E3;
}

.slidebar-body{
    padding: 5px 1rem;
}

.slidebar-body .slidebar-title{
    color: #47509B;
    font-size: 30px;
    font-weight: bold;
    font-family: Nunito;
}

.slidebar-body .slidebar-subtitle{
    font-family: Poppins;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.02em;
    text-align: center;
    color: rgba(158, 158, 158, 0.51);
}

.slidebar-body .support-accordions #accordion-icon-left .widget .slidebar-accordion-item{
    margin: 20px 0px;
    width: 300px;
    border-radius: 7px;
    background: #fff;
    box-shadow: 0px 2px 17px rgba(36, 43, 57, 0.06);
}

.accordion-icon.icon-01 .card-header.collapsed:before, .accordion-icon.icon-01 .card-header:before{
    all: unset;
}

.accordion-icon.icon-01 .card-header.collapsed:after{
    content: "\f110";
}

.accordion-icon.icon-01 .card-header::after{
    font-family: 'lineAwesome';
    content: "\f113";
    display: inline-block;
    font-size: 1.2rem;
    vertical-align: middle;
    right: 20px;
    position: absolute;
    font-weight: bold;
}

.slidebar-body .support-accordions #accordion-icon-left .widget .slidebar-accordion-item .card-title{
    color: #CBCBCB;
    font-size: 14px;
}

/* .slidebar-body .support-accordions #accordion-icon-left .widget .widget-scroll{
    overflow-x: hidden;
    overflow-y: auto;
}
 */
.slidebar-body .support-accordions #accordion-icon-left .widget .slidebar-accordion-item .card-header{
    max-width: 90%;
}

.slidebar-body .support-accordions #accordion-icon-left .widget .slidebar-accordion-item .card-header[aria-expanded="true"] .card-title, .slidebar-body .support-accordions #accordion-icon-left .widget .slidebar-accordion-item .card-header[aria-expanded="true"]{
    color: rgba(80, 171, 255, 0.75)
}

.with-line{
    width: 100%;
    text-transform: uppercase;
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #cbcbcb;
}

.with-line::before{
    border-top: 3px solid #ccc;
    min-height: 10px;
    width: 100%;
    background: transparent;
    border: 2px solid rgba(100, 190, 193, 0.3);

}

.slidebar-message textarea{
    background: #FCFCFC !important;
    border: 1px solid rgba(162, 162, 162, 0.3) !important;
    border-radius: 4px;
    font-size: 14px;
}

.slidebar-message textarea::placeholder{
    font-family: Nunito;
    font-weight: normal !important;
    font-size: 14px !important;
    letter-spacing: 0.02em !important;
    text-align: left !important;
    color: #cbcbcb !important;

}
.slidebar-button{
    font-family: Poppins;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #fff;
    width: 100px;
    height: 32px;
    padding: 1.2em;
    border-radius: 3px;
    background: #5e83a5;
    box-shadow: 2px 4px 14px rgba(99, 99, 99, 0.05);
    text-align: center;
    line-height: 0px;
    margin: 15px auto;
    position: absolute;
    left: 50%;
    margin-left: -50px;

}
.worldwide-img{
    position: fixed;
    right: -150px;
    bottom: -180px;  
    z-index: -1;
    opacity: 0.5; 
}

.trans-box{
    border: 1px  solid black;
    margin-top: 5px;
    height: 70px;

}
.trans-blur{
  -webkit-filter: blur(1.5px); /* Chrome, Safari, Opera */
  filter: blur(1.5px) grayscale(90%);

}

/*Responsive */

@media screen and (min-width: 767px) {
    .header {
        display: none;
    }
    .navbar-header .logo-big {
        display: none
    }

}

@media screen and (min-width: 768px) {
    .row-little-gutter>[class*=col] {
        padding-left: 5px;
        padding-right: 5px;
    }
   .deposit-option-card{
       padding: 2em 1.5rem !important;
        height: 150px;
        width: 200px;
    }
    .deposit-option-card p, .deposit-option-card small{
        display: block;
    }

    .deposit-option-card img{
         width: 60px;
    }
}

@media screen and (max-width: 768px){
     .is-hidden-desktop{
        display: none !important;
    }
    .deposit-intro h2{
        font-family: Nunito;
        font-weight: bold;
        font-size: 30px;
        text-align: left;
        color: #63b4ff;
    }
    .deposit-intro p{
        width: 650px!important;
        height: 80px;
        font-family: Nunito;
        font-size: 20px !important;
        text-align: justify!important;
        color: #c6c6c6;
        margin: 10px 0 90px 0;
    }
    .deposit-options{
        margin-top: 40px!important;
    }

 }

@media screen and (max-width: 567px) {
    /*.is-hidden-mobile {
        display: none;
    }*/
    .page-header-title{
        margin-left: 0px;
    }
    .support-hero-content{
        width: 100%;
    }
    .wave-banner{
        padding: 30px 0px !important;
    }

    .worldwide-img {
        display: none;
    }

    .f-box {
        margin: 5px;
    }

    .deposit-intro h2{
        font-family: Nunito;
        font-weight: bold;
        font-size: 20px;
        text-align: left;
        color: #63b4ff;
    }
    .deposit-intro p{
        max-width: 100%;
        height: 100px;
        font-family: Nunito;
        font-size: 16px !important;
        text-align: justify!important;
        color: #c6c6c6;
        margin: 10px 0 50px 0;
    }
    .deposit-options{
        margin-top: px!important;
    }

    .deposit-option-number{
        display: none;
    }
    .deposit-options{
        margin-top: 30px;
    }

    .deposit-option-pane h4{
        font-size: 1.3em;
        max-width: 400px;
        margin:10px -30px ;
    }

    .deposit-option-card{
      margin: 5px;
    }
}

@media screen and (max-width: 4px){
    /*.is-hidden-desktop{
        display: none !important;
    }*/

}

